.chat-action-button.active svg path,
.chat-action-button.active span {
  color: black;
  stroke: black;
}

.dark .chat-action-button.active svg path,
.dark .chat-action-button.active span {
  color: white;
  stroke: white;
}