.chat-action-button:hover svg path,
.chat-action-button:hover span {
    color: black;
    stroke: black;
}

.dark .chat-action-button:hover svg path,
.dark .chat-action-button:hover span {
    color: white;
    stroke: white;
}

.chat-action-button.active svg path,
.chat-action-button.active span {
  color: black;
  stroke: black;
}

.dark .chat-action-button.active svg path,
.dark .chat-action-button.active span {
  color: white;
  stroke: white;
}